#page-ongs {
  width: 100%;
  height: 100%;
  display: flex;
}

#logo {
  width: 5rem;
  margin: 0 0;
}

aside {
  width: clamp(24rem, 25vw, 44rem);
  background: linear-gradient(329.54deg, #6af7cf 0%, #6af780 100%);
  padding: clamp(3rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h2 {
  margin-top: 6.4rem;
  font: 800 clamp(2rem, 6vw, 3.6rem)/0.8 'Nunito', 'sans-serife';
}

aside p {
  margin-top: 2.4rem;
  font: 600 1.7rem/1.1 "Nunito", "sans-serif";
}

aside footer p {
  margin-top: 0.8rem;
}

aside .icons {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-items: center;
  justify-content: space-around;
}

aside .icons img {
  width: 4rem;
  margin-bottom: 2rem;
  border: solid 2px #00E1FF;
  border-radius: 2rem;
}

aside .icons img:hover {
  width: 4.5rem;
  border: solid 3px #60FCCF;
  border-radius: 2rem;
}

/*button*/

#mapid {
  width: 100%;
  height: 100%;
  animation-delay: 200ms;
}

a.create-ongs {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  z-index: 10;
  width: 6.4rem;
  height: 6.4rem;
  background: #6af780;
  border: 0;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}

a.create-ongs:hover {
  background: #60FCCF;
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px
}

.leaflet-popup-content {
  color: #0fb4eb;
  font-weight: 600;
  margin: .8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaflet-popup-content a {
  width: 4rem;
  height: 4rem;
  background: #00E1FF;
  box-shadow: rgba(23, 142, 166, 016);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
}

.leaflet-popup-content a:hover {
  background: #03CFFF;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-container {
  font: 800 2rem/1 'Nunito', sans-serife;
  z-index: 5;
}