#page-ong {
  display: flex;
  min-height: 100vh;
}

a#link {
  text-decoration: none;
}

aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem;
  background: linear-gradient(329.54deg, #6af7cf 0%, #6af780 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  border: none;
  background: #54D1FE;
  border-radius: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

aside.sidebar footer button:hover {
  background: #6cf080;
}

.with-sidebar {
  padding-left: 110px;
}

main {
  flex: 1;
  align-items: center;
}

.ong-details {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #D3E2E5;
  border-radius: 2rem;
  overflow: hidden;
}

.ong-details>img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;
  margin: 16px 40px 0
}

.images button {
  border: 0;
  background: none;
  height: 8.8rem;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.images button:hover, .images button:active {
  opacity: 1;
}

.images button img {
  width: 100%;
  height: 8.8rem;
  object-fit: cover;
}

.ong-details-content {
  padding: 8rem;
}

.ong-details-content h1 {
  color: #4D6f80;
  font-size: 5.4rem;
  line-height: 1;
  margin-bottom: 0.8rem;
}

.ong-details-content p {
  line-height: 1.8rem;
  color: #5c8599;
  margin-top: 2.4rem;
}

.map-container {
  margin-top: 6.4rem;
  background: #e6f7fb;
  border: 1px solid #b3dae2;
  border-radius: 2rem;
}

#mapid {
  width: 100%;
  height: 28rem;
}

.map-container footer {
  padding: 2rem 0rem;
  text-align: center
}

.map-container footer a {
  color: #0089a5;
  text-decoration: none;
}

.map-container .leaflet-container {
  border-bottom: 1px solid #dde3f0;
  border-radius: 2rem;
}

.ong-details-content hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #D3e2e6;
  margin: 6.5rem 0
}

.ong-details-content h2 {
  font-size: 3.2rem;
  line-height: 1.5rem;
  color: #4d6f80;
}

.open-details {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.open-details div {
  padding: 3.5rem 2.4rem;
}

.open-details img {
  display: block;
  margin-bottom: 2rem;
}

.open-details .hour {
  background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
  border: 1px solid #B3DAE2;
  border-radius: 20px;
  color: #5C8599;
}

.open-details .open-on-weekends {
  background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
  border: 1px solid #A1E9C5;
  border-radius: 20px;
  color: #37C77F;
}

.primary-button {
  margin-top: 6.4rem;
  width: 100%;
  height: 6.4rem;
  border: 0;
  cursor: pointer;
  background: #3cdc8c;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 600ms;
  font-weight: 600;
}

.primary-button:hover {
  background: #2db16f;
}

.primary-button img {
  margin-right: 1.6rem;
}